    .navbar_ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        display: flex;
        align-items: center;
    }
  
    .navbar_ul li {
        float: left;
    }
    
    .navbar_ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .navbar_ul li a:hover {
        background-color: #111111;
    }